@model PoshAsp.Models.LogEntries

@{
    ViewBag.Title = "History";
}

<h2>History</h2>

<table class="table">
    <tr>
        <th>Timestamp</th>
        <th>Username</th>
        <th>Action</th>
        <th>Prior state</th>
        <th>Resultant state</th>
    </tr>

@foreach (var item in Model) {
        PoshAsp.Models.Cluster OldCluster = (PoshAsp.Models.Cluster)item.Data["Before"];
        PoshAsp.Models.Cluster NewCluster = (PoshAsp.Models.Cluster)item.Data["After"];
    <tr>
        <td>@item.Timestamp</td>
        <td>@item.Username</td>
        <td>@item.Text</td>
        <td>
            <ul class="list-unstyled">
                <li><b>@OldCluster.Name</b></li>
                @foreach (PoshAsp.Models.ClusterGroup ClusterGroup in OldCluster.ClusterGroups)
                {
                    string CssClass = "";
                
                    if (NewCluster.ClusterGroups.FirstOrDefault<PoshAsp.Models.ClusterGroup>(e => e.Name == ClusterGroup.Name && e.OwnerNode.Name == ClusterGroup.OwnerNode.Name) == null)
                    {
                        CssClass = "bg-danger";
                    }
                
                    <li class="@CssClass">@ClusterGroup.Name<text>: </text>@ClusterGroup.OwnerNode.Name</li>
                }
            </ul>
        </td>
        <td>
            <ul class="list-unstyled">
                <li><b>@NewCluster.Name</b></li>
                @foreach (PoshAsp.Models.ClusterGroup ClusterGroup in NewCluster.ClusterGroups)
                {
                    string CssClass = "";

                    if (OldCluster.ClusterGroups.FirstOrDefault<PoshAsp.Models.ClusterGroup>(e => e.Name == ClusterGroup.Name && e.OwnerNode.Name == ClusterGroup.OwnerNode.Name) == null)
                    {
                        CssClass = "bg-danger";
                    }

                    <li class="@CssClass">@ClusterGroup.Name<text>: </text>@ClusterGroup.OwnerNode.Name</li>
                }
            </ul>
        </td>
    </tr>
}

</table>
